<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content {{ page.title | slugify}}">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  <script src="/bower_components/anchor-js/anchor.min.js"></script>
  <script>
    (function () {
      'use strict';

      anchors.options.placement = 'left';

      anchors.add('.post-content > h2, .post-content > h3, .post-content > h4, .post-content > h5, .post-content > h6');

    })();
  </script>
  </body>

</html>
